.controlElement {
    float: left;
    margin: 0.1em 0 0.3em 0.75em;
}

.button {
    padding: 0.1em 1em;
    border-color: transparent;
}

.clientButton {
    @extend .button;
    @extend .controlElement;
}

.clientStartButton {
    @extend .clientButton;
    background-color: green;
    border-radius: 1em;
}

.clientStopButton {
    @extend .clientButton;
    background-color: red;
    border-radius: 0.5em;
}

.channelSelector {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border-color: var(--vscode-dropdown-border);

    border-radius: 0.2em;

    margin-left: 0.3em;
}

.undo_body_padding {
    margin-left: -20px;
}

.separator {
    clear: both;

    @extend .undo_body_padding;
    border-top: 1px solid var(--vscode-input-border);
    width: 100vw;
    height: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.log {
    overflow: auto;
    flex-grow: 1;
    margin: 0.2em 0;   
    white-space: pre-wrap;
}

.commandInput {
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    margin-bottom: 0.2em;
    width: 100%;
    height: 2em;

    resize: none;

    //From vscode body
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}

.commandInput:focus {
    outline: none;
}

.timestamp {
    color: rgb(0, 98, 255);
}

.logLevelInfo {
    color: rgb(13, 143, 13);
}
.logLevelWarn {
    color: rgb(255, 255, 0);
}
.logLevelError {
    color: rgb(255, 0, 0);
}

.source {
    color: rgb(25, 202, 182);
}

.errorMessageContent {
    color: rgb(255, 0, 0);
}

.warnMessageContent {
    color: rgb(255, 255, 0);
}