body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.ConsoleSplit {
    flex-grow: 1;
    border: none;
}

.ChannelTabs {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ChannelTabs vscode-tab-panel {
    flex-grow: 1;
}
.ChannelTabs vscode-scrollable {
    height: 100%;
}

.ChannelTabs vscode-tab-panel vscode-scrollable {
  color: var(--vscode-terminal-foreground);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: var(--vscode-editor-font-weight);
}

.ToggleClientButton {
    margin-right: 20px;
}

.CommandInput, .NonExpandableLogEntry, .ChannelHeader:first-of-type, .ExpandableLogEntryDetail {
    margin-left: 20px;
}

.ExpandableLogEntryTitle {
    display: flex;
}

.ExpandableLogEntryArrow {
    min-width: 20px;
    max-width: 20px;
}

.ExpandableLogEntryDetail {
    white-space: pre-wrap;
    overflow: hidden;
}

.CommandInput {
    display: flex;
    flex-direction: column;
}
.CommandInputSpacer {
    height: 0.4em;
}
.CommandInput > vscode-textarea {
    flex-grow: 1;
    margin-right: 40px;
    width: auto;
}